.slTabItem {
    background-color: #FFFFFF;
    color: black;
    padding: 10px 5px 20px 5px;
    margin: 5px 20px 0px 20px;

height: 16px;

font-family: "proxima-nova";
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 16px;

color: #3A3A3A;
}

.slTabItem:hover {
    cursor: pointer;
}

.active {
    border-bottom: 2px solid #4DC6FF;
}