.slEmptyActivities {
    text-align: center;
    font-family: "proxima-nova";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #4F5359;
    margin: 5px 5px;
}