.slGridComponent {
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.sl_col_1 {
    flex: 1;
}

.sl_col_2 {
    flex: 2;
}

.sl_col_3 {
    flex: 1;
}

  /* xl */
@media (max-width: 1400px) {
    .slGridComponent {
        margin: 15px;
        display: flex;
        justify-content: space-between;
    }
    
    .sl_col_1 {
        flex: 1;
    }
    
    .sl_col_2 {
        flex: 2;
    }
    
    .sl_col_3 {
        flex: 1;
    }
}

/* lg */
@media (max-width: 1280px) {
    .slGridComponent {
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .sl_col_1 {
        flex: 1;
    }
    
    .sl_col_2 {
        flex: 2;
    }
    
    .sl_col_3 {
        flex: 1;
    }
  }

/* md */
@media (max-width: 960px) {
    .slGridComponent {
        margin: 0px;
        display: flex;
        justify-content: space-between;
    }
    
    .sl_col_1 {
        flex: 0.5;
    }
    
    .sl_col_2 {
        flex: 1;
    }
    
    .sl_col_3 {
        flex: 0.5;
    }
  }

/* s */
@media (max-width: 530px) {
    .slGridComponent {
        display: block;
    }
  }

  /* xs */
@media (max-width: 0px) {
    .slGridComponent {
        display: block;
    }
  }