.slActivePanelComponent {
    width: auto;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    margin: 10px;
    padding: 0px 0px 0px 0px;
}

    .slActivePanelHeader {
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        border-bottom: 1px solid #E1E7EA;
        box-sizing: border-box;
    }

    .slActivePanelBody {
        width: auto;
        background-color: #FFFFFF;
        margin: 0px 15px 0px 15px;
    }





