.slTabListComponent {
    width: 100%;
}

.slTabList {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    margin: 0;
    padding: 0;

    background: #FFFFFF;
    box-sizing: border-box;
    border-bottom: 1px solid #E5E5E5;
    
}

.slTabData {
    margin: 15px;
}